[Desktop Entry]
Version=1.0
Type=Application
Name=Les cahiers du débutant
Comment=Manuel simplifié pour bien commencer sur Debian
Icon=debian-beginners-handbook-fr
Exec=debian-beginners-handbook-fr
Terminal=false
StartupNotify=true
Categories=Application;Utility;Documentation;
X-XFCE-Source=file:///usr/share/applications/debian-beginners-handbook-fr.desktop
