[Desktop Entry]
Name=DFiso-Theme
Comment=Minimalist theme switcher for DFiso
Comment[fr]=Changeur de thème rapide pour DFiso
Exec=/usr/share/dfiso/dfiso-theme/dfisotheme
Icon=dfisotheme
StartupNotify=true
Terminal=false
Type=Application
Categories=X-XFCE;Utility;
